<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head>
        <title>Nota Pembelian</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <style>
            h1 {
                text-align: center;
                color: #990066;
            }
            h2 {
                text-align: center;
            }
            
             .footer {
            position: fixed;
            left: 0;
            bottom: 0;
            width: 100%;
            background-color: #990066;
            color: white;
            text-align: center;
            
            }
        </style>
    </head>
   <body>
        <h1>Toko Mainan Ceria</h1>
        <hr>
        <h2>Nota Pembayaran</h2>
            <table border="1" align="center">
                <thead>
                    <tr>
                        <td>Nama Mainan</td>
                        <td>Jumlah Mainan</td>
                        <td>Harga Mainan</td>
                        <td>Total Mainan</td>
                    </tr>
                </thead>

                <tbody>
                    <tr>
                        <td th:text="${Nama}"></td>
                        <td th:text="${Barang}"></td><!-- comment -->
                        <td th:text="${Harga}"></td>
                        <td th:text="${Total}"></td>
                    </tr>

                    <tr>
                    <td colspan="4" align="center"> 
                    </td>
                </tr>

                <tr>
                    <td>Diskon</td>
                    <td colspan="3" th:text="${TotalDiskon}"></td>
                </tr>

                <tr>
                    <td>Total</td><!-- comment -->
                    <td colspan="3" th:text="${Diskon}"></td>
                </tr>
                </tbody>
            </table>
    </body>
    <div class="footer">
        <p>Lathifah Khansa Salsabila (20200140120)</p>
    </div>
    </body>
</html>
